
<div class="bodyIndex">
    
    <div class="centerBox">
        <h1>Music On!!</h1>
        
        <form class="searchBox" action="/artist-search" method="GET">
            <label for="title"></label>
            <input class="inputSearch" type="text" name="artistSearch" placeholder="Your â™¥ï¸-Artist here...">
            <button class="searchButton" type="submit">ðŸŽ¶ Search for an Artist</button>
        </form>
    </div>
</div>